#container {
	width: 100%;
}
.select {
	margin-bottom: 30px;
}
.wardrobe {
	width: 24%;
}
button {
	padding: 10px;
	border-radius: 5px;
	color: #333;
	border: 1px solid;
	background-color: white;
	font-size: 12px;
	font-family: HelveticaNeue;
	font-weight: bold;
}
button:hover, .active {
	background-color: #333;
	color: white;
}
button:focus {
	outline: none;
}